@page
@model BlogApp.Pages.DeleteBlogModel
@{
}

<div class="container mt-5">
    <div class="card shadow-sm border-0">
        <div class="card-body p-4">
            <h2 class=" card-title fw-bold mb-4">Delete Blog</h2>
